In [1]:
import os

os.makedirs(os.path.join('./', 'data'), exist_ok=True)
data_file = os.path.join('./', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,459453\n')
    f.write('2,NA,394509\n')
    f.write('6,NA,735363\n')
    f.write('NA,NA,803499\n')

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  459453
1       2.0   NaN  394509
2       6.0   NaN  735363
3       NaN   NaN  803499

In [3]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms Alley
0       4.0  Pave
1       2.0   NaN
2       6.0   NaN
3       4.0   NaN

In [4]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       4.0           1          0
1       2.0           0          1
2       6.0           0          1
3       4.0           0          1

In [5]:
import torch

x, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
x, y

(tensor([[4., 1., 0.],
         [2., 0., 1.],
         [6., 0., 1.],
         [4., 0., 1.]], dtype=torch.float64),
 tensor([459453, 394509, 735363, 803499]))