## 1.导入依赖包

In [1]:
import torch
from torch import nn
import torch.nn.functional as F
from torch.utils.data import TensorDataset, DataLoader
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

## 2.数据预处理

### 2.1读取数据集并查看前5条数据

In [2]:
data = pd.read_csv('../../data/HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,part,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

### 2.2查看数据结构

In [3]:
data.shape

(14999, 10)

### 2.3查看数据信息

可以看到一共有10个特征，其中有两个是字符串类型，需要转成独热编码

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   part                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

### 2.4查看一共有几个部门

In [5]:
data.part.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

### 2.5查看一共有几种安全程度

In [6]:
data.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

### 2.6查看每个安全程度各部门有多少人

In [7]:
data.groupby(['salary', 'part']).size()

salary  part
high    IT               83
        RandD            51
        accounting       74
        hr               45
        management      225
        marketing        80
        product_mng      68
        sales           269
        support         141
        technical       201
low     IT              609
        RandD           364
        accounting      358
        hr              335
        management      180
        marketing       402
        product_mng     451
        sales          2099
        support        1146
        technical      1372
medium  IT              535
        RandD           372
        accounting      335
        hr              359
        management      225
        marketing       376
        product_mng     383
        sales          1772
        support         942
        technical      1147
dtype: int64

### 2.7对安全程度进行独热编码

In [8]:
pd.get_dummies(data.salary)

       high  low  medium
0         0    1       0
1         0    0       1
2         0    0       1
3         0    1       0
4         0    1       0
...     ...  ...     ...
14994     0    1       0
14995     0    1       0
14996     0    1       0
14997     0    1       0
14998     0    1       0

[14999 rows x 3 columns]

### 2.8将安全程度的独热编码加入数据集中，并将原来字符串特征进行删除

In [9]:
data = data.join(pd.get_dummies(data.salary))
del data['salary']
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,part,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,0,1,0
1,0.80,0.86,5,262,6,0,1,0,sales,0,0,1
2,0.11,0.88,7,272,4,0,1,0,sales,0,0,1
3,0.72,0.87,5,223,5,0,1,0,sales,0,1,0
4,0.37,0.52,2,159,3,0,1,0,sales,0,1,0

### 2.9将部门进行独热编码并删除原来的字符串特征

In [10]:
data = data.join(pd.get_dummies(data.part))
del data['part']
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,high,low,...,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,157,3,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

### 3.0查看各个标签出现的次数

In [11]:
data.left.value_counts()

0    11428
1     3571
Name: left, dtype: int64

### 3.1改变Y的维度

In [12]:
Y_data = data.left.values.reshape(-1, 1)
Y_data.shape

(14999, 1)

### 3.2将Y转成张量

In [13]:
Y = torch.from_numpy(Y_data).type(torch.FloatTensor)

### 3.3将X转成张量

In [14]:
X_data = data[[c for c in data.columns if c != 'left']].values
X = torch.from_numpy(X_data).type(torch.FloatTensor)

### 3.4查看X和Y的维度

In [15]:
X.size(), Y.size()

(torch.Size([14999, 20]), torch.Size([14999, 1]))

## 4.搭建模型

### 4.1方法一：

In [16]:
class Model_1(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear_1 = nn.Linear(20, 64)
        self.linear_2 = nn.Linear(64, 64)
        self.linear_3 = nn.Linear(64, 1)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, input):
        x = self.linear_1(input)
        x = self.relu(x)
        x = self.linear_2(x)
        x = self.relu(x)
        x = self.linear_3(x)
        y = self.sigmoid(x)
        return y
    
model_1 = Model_1()
model_1

Model_1(
  (linear_1): Linear(in_features=20, out_features=64, bias=True)
  (linear_2): Linear(in_features=64, out_features=64, bias=True)
  (linear_3): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (sigmoid): Sigmoid()
)

### 4.2方法二：

In [17]:
class Model_2(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear_1 = nn.Linear(20, 64)
        self.linear_2 = nn.Linear(64, 64)
        self.linear_3 = nn.Linear(64, 1)
        
    def forward(self, input):
        x = F.relu(self.linear_1(input))
        x = F.relu(self.linear_2(x))
        y = F.sigmoid(self.linear_3(x))
        return y
    
model_2 = Model_2()
model_2

Model_2(
  (linear_1): Linear(in_features=20, out_features=64, bias=True)
  (linear_2): Linear(in_features=64, out_features=64, bias=True)
  (linear_3): Linear(in_features=64, out_features=1, bias=True)
)

## 5.设置超参数

In [18]:
lr = 0.0001                              #学习率
loss_fn = nn.BCELoss()                   #损失函数
batch_size = 64                          #批训练大小
iteration = len(data) // batch_size      #需要训练的批数
epochs = 100                             #所有数据训练的次数

## 6.获取模型

In [19]:
def get_model():
    model = Model_2()
    opt = torch.optim.Adam(model.parameters(), lr=lr)
    return model, opt

model, optim = get_model()

## 7.训练模型

### 7.1方法一：用切分的方法切割数据集

In [20]:
for epoch in range(epochs):
    for i in range(iteration):
        start = i * batch_size
        end = start + batch_size
        x = X[start : end]
        y = Y[start : end]
        y_pred = model(x)
        loss = loss_fn(y_pred, y)
        optim.zero_grad()
        loss.backward()
        optim.step()
    with torch.no_grad():
        print('epoch: ', epoch, 'loss: ', loss_fn(model(X), Y).data.item())

C:\Anaconda\lib\site-packages\torch\nn\functional.py:1709: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")

epoch:  0 loss:  0.6863037347793579
epoch:  1 loss:  0.6943723559379578
epoch:  2 loss:  0.6791393160820007
epoch:  3 loss:  0.6683120131492615
epoch:  4 loss:  0.657041072845459
epoch:  5 loss:  0.6455378532409668
epoch:  6 loss:  0.6336991190910339
epoch:  7 loss:  0.6348214745521545
epoch:  8 loss:  0.6224115490913391
epoch:  9 loss:  0.6115456819534302
epoch:  10 loss:  0.6017561554908752
epoch:  11 loss:  0.6121525764465332
epoch:  12 loss:  0.6101523041725159
epoch:  13 loss:  0.5942492485046387
epoch:  14 loss:  0.5839657783508301
epoch:  15 loss:  0.5773881077766418
epoch:  16 loss:  0.571406364440918
epoch:  17 loss:  0.5671684741973877
epoch:  18 loss:  0.5637549161911011
epoch:  19 loss:  0.5612894296646118
epoch:  20 loss:  0.5592552423477173
epoch:  21 loss:  0.5575058460235596
epoch:  22 loss:  0.5567304491996765
epoch:  23 loss:  0.5560505986213684
epoch:  24 loss:  0.5566777586936951
epoch:  25 loss:  0.5561623573303223
epoch:  26 loss:  0.5562872290611267
epoch:  27 loss:  0.556485116481781
epoch:  28 loss:  0.5556914806365967
epoch:  29 loss:  0.5565965175628662
epoch:  30 loss:  0.5547531843185425
epoch:  31 loss:  0.557773232460022
epoch:  32 loss:  0.5578586459159851
epoch:  33 loss:  0.5582214593887329
epoch:  34 loss:  0.5584183931350708
epoch:  35 loss:  0.5592978596687317
epoch:  36 loss:  0.5585356950759888
epoch:  37 loss:  0.5592789053916931
epoch:  38 loss:  0.567456841468811
epoch:  39 loss:  0.5585393905639648
epoch:  40 loss:  0.5593294501304626
epoch:  41 loss:  0.5594198703765869
epoch:  42 loss:  0.559307336807251
epoch:  43 loss:  0.5591858625411987
epoch:  44 loss:  0.5586767196655273
epoch:  45 loss:  0.5572487115859985
epoch:  46 loss:  0.5578190684318542
epoch:  47 loss:  0.5582523345947266
epoch:  48 loss:  0.558253288269043
epoch:  49 loss:  0.5577580332756042
epoch:  50 loss:  0.5573169589042664
epoch:  51 loss:  0.5575213432312012
epoch:  52 loss:  0.5571351647377014
epoch:  53 loss:  0.5547910332679749
epoch:  54 loss:  0.5568259954452515
epoch:  55 loss:  0.5571778416633606
epoch:  56 loss:  0.5567038655281067
epoch:  57 loss:  0.5563036203384399
epoch:  58 loss:  0.5562134981155396
epoch:  59 loss:  0.5555552244186401
epoch:  60 loss:  0.5549526810646057
epoch:  61 loss:  0.5585575699806213
epoch:  62 loss:  0.5815396904945374
epoch:  63 loss:  0.5610752701759338
epoch:  64 loss:  0.5831722021102905
epoch:  65 loss:  0.5546852946281433
epoch:  66 loss:  0.55360347032547
epoch:  67 loss:  0.553123414516449
epoch:  68 loss:  0.5449734330177307
epoch:  69 loss:  0.5481964945793152
epoch:  70 loss:  0.547071635723114
epoch:  71 loss:  0.5500057339668274
epoch:  72 loss:  0.5471056699752808
epoch:  73 loss:  0.5399391651153564
epoch:  74 loss:  0.5471519827842712
epoch:  75 loss:  0.5411354303359985
epoch:  76 loss:  0.545000433921814
epoch:  77 loss:  0.541982114315033
epoch:  78 loss:  0.5435265898704529
epoch:  79 loss:  0.5375235676765442
epoch:  80 loss:  0.5433125495910645
epoch:  81 loss:  0.5385085940361023
epoch:  82 loss:  0.540393054485321
epoch:  83 loss:  0.5385147333145142
epoch:  84 loss:  0.5375657677650452
epoch:  85 loss:  0.5376477837562561
epoch:  86 loss:  0.5373600721359253
epoch:  87 loss:  0.5358275771141052
epoch:  88 loss:  0.5379132628440857
epoch:  89 loss:  0.5389429330825806
epoch:  90 loss:  0.5368397831916809
epoch:  91 loss:  0.5348417162895203
epoch:  92 loss:  0.5327246785163879
epoch:  93 loss:  0.5310104489326477
epoch:  94 loss:  0.5310701131820679
epoch:  95 loss:  0.5292920470237732
epoch:  96 loss:  0.5274782180786133
epoch:  97 loss:  0.5267226099967957
epoch:  98 loss:  0.5252673029899597
epoch:  99 loss:  0.5242481827735901

### 7.2方法二：用TensorDataset的方法切割数据集

In [21]:
hr_dataset = TensorDataset(X, Y)
len(hr_dataset)
hr_dataset[66 : 68]

model, optim = get_model()

for epoch in range(epochs):
    for i in range(iteration):
        x, y = hr_dataset[i * batch_size: i * batch_size + batch_size]
        y_pred = model(x)
        loss = loss_fn(y_pred, y)
        optim.zero_grad()
        loss.backward()
        optim.step()
    with torch.no_grad():
        print('epoch: ', epoch, 'loss: ', loss_fn(model(X), Y).data.item())

epoch:  0 loss:  0.6456089615821838
epoch:  1 loss:  0.617047131061554
epoch:  2 loss:  0.6136002540588379
epoch:  3 loss:  0.6083982586860657
epoch:  4 loss:  0.6053360104560852
epoch:  5 loss:  0.5993931889533997
epoch:  6 loss:  0.5838913917541504
epoch:  7 loss:  0.6005063056945801
epoch:  8 loss:  0.5776329040527344
epoch:  9 loss:  0.5715966820716858
epoch:  10 loss:  0.5686569213867188
epoch:  11 loss:  0.566743791103363
epoch:  12 loss:  0.5750707387924194
epoch:  13 loss:  0.5684741139411926
epoch:  14 loss:  0.5660810470581055
epoch:  15 loss:  0.5636332631111145
epoch:  16 loss:  0.5621346235275269
epoch:  17 loss:  0.5612703561782837
epoch:  18 loss:  0.5605245232582092
epoch:  19 loss:  0.5604021549224854
epoch:  20 loss:  0.5603036880493164
epoch:  21 loss:  0.5601687431335449
epoch:  22 loss:  0.5606539845466614
epoch:  23 loss:  0.5607375502586365
epoch:  24 loss:  0.5615357160568237
epoch:  25 loss:  0.5617081522941589
epoch:  26 loss:  0.5625395774841309
epoch:  27 loss:  0.5718828439712524
epoch:  28 loss:  0.5635136961936951
epoch:  29 loss:  0.5640285015106201
epoch:  30 loss:  0.5639950633049011
epoch:  31 loss:  0.5647003054618835
epoch:  32 loss:  0.5645076036453247
epoch:  33 loss:  0.5649566054344177
epoch:  34 loss:  0.5648016333580017
epoch:  35 loss:  0.5651221871376038
epoch:  36 loss:  0.5649219751358032
epoch:  37 loss:  0.5813632011413574
epoch:  38 loss:  0.5651365518569946
epoch:  39 loss:  0.5650964379310608
epoch:  40 loss:  0.5645571947097778
epoch:  41 loss:  0.5642959475517273
epoch:  42 loss:  0.5640619397163391
epoch:  43 loss:  0.563811719417572
epoch:  44 loss:  0.5635710954666138
epoch:  45 loss:  0.5684609413146973
epoch:  46 loss:  0.5645650625228882
epoch:  47 loss:  0.5634270310401917
epoch:  48 loss:  0.5628234148025513
epoch:  49 loss:  0.5626005530357361
epoch:  50 loss:  0.5621693134307861
epoch:  51 loss:  0.561972975730896
epoch:  52 loss:  0.5615909695625305
epoch:  53 loss:  0.5607336163520813
epoch:  54 loss:  0.5619761347770691
epoch:  55 loss:  0.5606243014335632
epoch:  56 loss:  0.5604313611984253
epoch:  57 loss:  0.5601705312728882
epoch:  58 loss:  0.5619356632232666
epoch:  59 loss:  0.5595048069953918
epoch:  60 loss:  0.5593773722648621
epoch:  61 loss:  0.5588971376419067
epoch:  62 loss:  0.5590721964836121
epoch:  63 loss:  0.5586433410644531
epoch:  64 loss:  0.5583629012107849
epoch:  65 loss:  0.5579879879951477
epoch:  66 loss:  0.5577818751335144
epoch:  67 loss:  0.5578898787498474
epoch:  68 loss:  0.5570374727249146
epoch:  69 loss:  0.562146782875061
epoch:  70 loss:  0.5561721920967102
epoch:  71 loss:  0.5590042471885681
epoch:  72 loss:  0.5539839267730713
epoch:  73 loss:  0.5556877255439758
epoch:  74 loss:  0.5553443431854248
epoch:  75 loss:  0.5535940527915955
epoch:  76 loss:  0.5556806921958923
epoch:  77 loss:  0.5541828870773315
epoch:  78 loss:  0.5535739660263062
epoch:  79 loss:  0.5545409917831421
epoch:  80 loss:  0.5525225400924683
epoch:  81 loss:  0.5664052963256836
epoch:  82 loss:  0.5533756017684937
epoch:  83 loss:  0.5532624125480652
epoch:  84 loss:  0.5606331825256348
epoch:  85 loss:  0.5524317026138306
epoch:  86 loss:  0.5513412952423096
epoch:  87 loss:  0.5511279106140137
epoch:  88 loss:  0.5478933453559875
epoch:  89 loss:  0.6041905879974365
epoch:  90 loss:  0.5548813939094543
epoch:  91 loss:  0.5649069547653198
epoch:  92 loss:  0.553638219833374
epoch:  93 loss:  0.5498617887496948
epoch:  94 loss:  0.5482701659202576
epoch:  95 loss:  0.5469831824302673
epoch:  96 loss:  0.548587441444397
epoch:  97 loss:  0.5474920868873596
epoch:  98 loss:  0.5453396439552307
epoch:  99 loss:  0.5438101887702942

### 7.3方法三：用DataLoader的方法切割数据集

In [22]:
hr_ds = TensorDataset(X, Y)
hr_dl = DataLoader(hr_ds, batch_size=batch_size, shuffle=True)

model, optim = get_model()

for epoch in range(epochs):
    for x, y in hr_dl:
        y_pred = model(x)
        loss = loss_fn(y_pred, y)
        optim.zero_grad()
        loss.backward()
        optim.step()
    with torch.no_grad():
        print('epoch: ', epoch, 'loss: ', loss_fn(model(X), Y).data.item())

epoch:  0 loss:  0.5662083029747009
epoch:  1 loss:  0.5643975138664246
epoch:  2 loss:  0.5578533411026001
epoch:  3 loss:  0.5519608855247498
epoch:  4 loss:  0.5452340841293335
epoch:  5 loss:  0.5377640724182129
epoch:  6 loss:  0.5298526883125305
epoch:  7 loss:  0.5202850699424744
epoch:  8 loss:  0.5134329199790955
epoch:  9 loss:  0.5031102299690247
epoch:  10 loss:  0.4879625737667084
epoch:  11 loss:  0.476669043302536
epoch:  12 loss:  0.46836423873901367
epoch:  13 loss:  0.45677119493484497
epoch:  14 loss:  0.46092063188552856
epoch:  15 loss:  0.43292322754859924
epoch:  16 loss:  0.4233585000038147
epoch:  17 loss:  0.41258731484413147
epoch:  18 loss:  0.4035184979438782
epoch:  19 loss:  0.39519158005714417
epoch:  20 loss:  0.3984805941581726
epoch:  21 loss:  0.3806788921356201
epoch:  22 loss:  0.38321778178215027
epoch:  23 loss:  0.3673507571220398
epoch:  24 loss:  0.3596048057079315
epoch:  25 loss:  0.3575997054576874
epoch:  26 loss:  0.35204359889030457
epoch:  27 loss:  0.3464590013027191
epoch:  28 loss:  0.34192508459091187
epoch:  29 loss:  0.33812668919563293
epoch:  30 loss:  0.3392219543457031
epoch:  31 loss:  0.33046597242355347
epoch:  32 loss:  0.32764431834220886
epoch:  33 loss:  0.3251974284648895
epoch:  34 loss:  0.3317200243473053
epoch:  35 loss:  0.3201220631599426
epoch:  36 loss:  0.3183901011943817
epoch:  37 loss:  0.31764379143714905
epoch:  38 loss:  0.3125355541706085
epoch:  39 loss:  0.3101210296154022
epoch:  40 loss:  0.3103616535663605
epoch:  41 loss:  0.3061862587928772
epoch:  42 loss:  0.30481770634651184
epoch:  43 loss:  0.30489107966423035
epoch:  44 loss:  0.3186001181602478
epoch:  45 loss:  0.2998838722705841
epoch:  46 loss:  0.2978610098361969
epoch:  47 loss:  0.2974553108215332
epoch:  48 loss:  0.2969769537448883
epoch:  49 loss:  0.2969169318675995
epoch:  50 loss:  0.29494157433509827
epoch:  51 loss:  0.29328984022140503
epoch:  52 loss:  0.29103776812553406
epoch:  53 loss:  0.28979894518852234
epoch:  54 loss:  0.28775444626808167
epoch:  55 loss:  0.29719117283821106
epoch:  56 loss:  0.28538283705711365
epoch:  57 loss:  0.2863803803920746
epoch:  58 loss:  0.28671708703041077
epoch:  59 loss:  0.2822262942790985
epoch:  60 loss:  0.2875578999519348
epoch:  61 loss:  0.2823046147823334
epoch:  62 loss:  0.29063254594802856
epoch:  63 loss:  0.2777370512485504
epoch:  64 loss:  0.2793542146682739
epoch:  65 loss:  0.28239598870277405
epoch:  66 loss:  0.27562758326530457
epoch:  67 loss:  0.27564623951911926
epoch:  68 loss:  0.2741289436817169
epoch:  69 loss:  0.2716454267501831
epoch:  70 loss:  0.27447062730789185
epoch:  71 loss:  0.2717586159706116
epoch:  72 loss:  0.2718656063079834
epoch:  73 loss:  0.2724490761756897
epoch:  74 loss:  0.2724793255329132
epoch:  75 loss:  0.26858487725257874
epoch:  76 loss:  0.2677832543849945
epoch:  77 loss:  0.27814966440200806
epoch:  78 loss:  0.2651142477989197
epoch:  79 loss:  0.26418137550354004
epoch:  80 loss:  0.26451563835144043
epoch:  81 loss:  0.28180205821990967
epoch:  82 loss:  0.2773483395576477
epoch:  83 loss:  0.2643734812736511
epoch:  84 loss:  0.2630419135093689
epoch:  85 loss:  0.26455363631248474
epoch:  86 loss:  0.2632032036781311
epoch:  87 loss:  0.26051926612854004
epoch:  88 loss:  0.2580209970474243
epoch:  89 loss:  0.2565256357192993
epoch:  90 loss:  0.256096750497818
epoch:  91 loss:  0.2588858902454376
epoch:  92 loss:  0.25480130314826965
epoch:  93 loss:  0.2550269067287445
epoch:  94 loss:  0.2652747333049774
epoch:  95 loss:  0.25466692447662354
epoch:  96 loss:  0.2562335133552551
epoch:  97 loss:  0.25229692459106445
epoch:  98 loss:  0.2533971965312958
epoch:  99 loss:  0.25236818194389343

### 7.4方法四：用train_test_split的方法切割数据集，并将其划分为训练集和测试集

In [23]:
train_x, test_x, train_y, test_y = train_test_split(X_data, Y_data)
train_x = torch.from_numpy(train_x).type(torch.float32)
train_y = torch.from_numpy(train_y).type(torch.float32)
test_x = torch.from_numpy(test_x).type(torch.float32)
test_y = torch.from_numpy(test_y).type(torch.float32)

train_ds = TensorDataset(train_x, train_y)
train_dl = DataLoader(train_ds, batch_size=batch_size, shuffle=True)

test_ds = TensorDataset(test_x, test_y)
test_dl = DataLoader(test_ds, batch_size=batch_size, shuffle=True)

## 8.添加准确率

In [24]:
def acc(y_pred, y_true):
    y_pred = y_pred = (y_pred > 0.5).type(torch.int32)
    acc = (y_pred == y_true).float().mean()
    return acc

model, optim = get_model()

for epoch in range(epochs):
    for x, y in train_dl:
        y_pred = model(x)
        loss = loss_fn(y_pred, y)
        optim.zero_grad()
        loss.backward()
        optim.step()
    with torch.no_grad():
        epoch_acc = acc(model(train_x), train_y)
        epoch_loss = loss_fn(model(train_x), train_y).data
        epoch_test_acc = acc(model(test_x), test_y)
        epoch_test_loss = loss_fn(model(test_x), test_y).data
        print('epoch: ', epoch, 
              'loss: ', round(epoch_loss.item(), 3), 
              'accuracy: ', round(epoch_acc.item(), 3), 
              'test_loss: ', round(epoch_test_loss.item(), 3), 
              'test_accuracy: ', round(epoch_test_acc.item(), 3))

epoch:  0 loss:  0.564 accuracy:  0.761 test_loss:  0.562 test_accuracy:  0.765
epoch:  1 loss:  0.564 accuracy:  0.761 test_loss:  0.562 test_accuracy:  0.765
epoch:  2 loss:  0.563 accuracy:  0.761 test_loss:  0.561 test_accuracy:  0.765
epoch:  3 loss:  0.562 accuracy:  0.761 test_loss:  0.559 test_accuracy:  0.765
epoch:  4 loss:  0.561 accuracy:  0.761 test_loss:  0.558 test_accuracy:  0.765
epoch:  5 loss:  0.56 accuracy:  0.761 test_loss:  0.558 test_accuracy:  0.765
epoch:  6 loss:  0.559 accuracy:  0.761 test_loss:  0.557 test_accuracy:  0.765
epoch:  7 loss:  0.559 accuracy:  0.761 test_loss:  0.557 test_accuracy:  0.765
epoch:  8 loss:  0.556 accuracy:  0.761 test_loss:  0.554 test_accuracy:  0.765
epoch:  9 loss:  0.556 accuracy:  0.761 test_loss:  0.554 test_accuracy:  0.765
epoch:  10 loss:  0.554 accuracy:  0.761 test_loss:  0.551 test_accuracy:  0.765
epoch:  11 loss:  0.553 accuracy:  0.761 test_loss:  0.55 test_accuracy:  0.765
epoch:  12 loss:  0.554 accuracy:  0.761 test_loss:  0.551 test_accuracy:  0.765
epoch:  13 loss:  0.549 accuracy:  0.761 test_loss:  0.547 test_accuracy:  0.765
epoch:  14 loss:  0.548 accuracy:  0.761 test_loss:  0.546 test_accuracy:  0.765
epoch:  15 loss:  0.545 accuracy:  0.761 test_loss:  0.542 test_accuracy:  0.765
epoch:  16 loss:  0.542 accuracy:  0.761 test_loss:  0.54 test_accuracy:  0.765
epoch:  17 loss:  0.54 accuracy:  0.761 test_loss:  0.538 test_accuracy:  0.765
epoch:  18 loss:  0.537 accuracy:  0.761 test_loss:  0.535 test_accuracy:  0.765
epoch:  19 loss:  0.534 accuracy:  0.761 test_loss:  0.532 test_accuracy:  0.765
epoch:  20 loss:  0.531 accuracy:  0.761 test_loss:  0.529 test_accuracy:  0.765
epoch:  21 loss:  0.529 accuracy:  0.761 test_loss:  0.527 test_accuracy:  0.765
epoch:  22 loss:  0.527 accuracy:  0.761 test_loss:  0.524 test_accuracy:  0.765
epoch:  23 loss:  0.524 accuracy:  0.761 test_loss:  0.521 test_accuracy:  0.765
epoch:  24 loss:  0.519 accuracy:  0.761 test_loss:  0.516 test_accuracy:  0.765
epoch:  25 loss:  0.515 accuracy:  0.761 test_loss:  0.512 test_accuracy:  0.765
epoch:  26 loss:  0.51 accuracy:  0.761 test_loss:  0.507 test_accuracy:  0.765
epoch:  27 loss:  0.506 accuracy:  0.761 test_loss:  0.503 test_accuracy:  0.765
epoch:  28 loss:  0.504 accuracy:  0.761 test_loss:  0.501 test_accuracy:  0.765
epoch:  29 loss:  0.501 accuracy:  0.758 test_loss:  0.498 test_accuracy:  0.764
epoch:  30 loss:  0.495 accuracy:  0.759 test_loss:  0.492 test_accuracy:  0.764
epoch:  31 loss:  0.491 accuracy:  0.76 test_loss:  0.488 test_accuracy:  0.764
epoch:  32 loss:  0.495 accuracy:  0.754 test_loss:  0.492 test_accuracy:  0.757
epoch:  33 loss:  0.488 accuracy:  0.753 test_loss:  0.484 test_accuracy:  0.756
epoch:  34 loss:  0.484 accuracy:  0.759 test_loss:  0.481 test_accuracy:  0.763
epoch:  35 loss:  0.484 accuracy:  0.759 test_loss:  0.481 test_accuracy:  0.763
epoch:  36 loss:  0.476 accuracy:  0.752 test_loss:  0.473 test_accuracy:  0.755
epoch:  37 loss:  0.472 accuracy:  0.753 test_loss:  0.469 test_accuracy:  0.754
epoch:  38 loss:  0.493 accuracy:  0.759 test_loss:  0.491 test_accuracy:  0.763
epoch:  39 loss:  0.467 accuracy:  0.753 test_loss:  0.464 test_accuracy:  0.754
epoch:  40 loss:  0.465 accuracy:  0.753 test_loss:  0.461 test_accuracy:  0.755
epoch:  41 loss:  0.463 accuracy:  0.762 test_loss:  0.46 test_accuracy:  0.764
epoch:  42 loss:  0.461 accuracy:  0.757 test_loss:  0.457 test_accuracy:  0.76
epoch:  43 loss:  0.459 accuracy:  0.756 test_loss:  0.456 test_accuracy:  0.759
epoch:  44 loss:  0.46 accuracy:  0.751 test_loss:  0.457 test_accuracy:  0.752
epoch:  45 loss:  0.456 accuracy:  0.765 test_loss:  0.453 test_accuracy:  0.769
epoch:  46 loss:  0.454 accuracy:  0.764 test_loss:  0.451 test_accuracy:  0.766
epoch:  47 loss:  0.457 accuracy:  0.751 test_loss:  0.455 test_accuracy:  0.753
epoch:  48 loss:  0.453 accuracy:  0.757 test_loss:  0.451 test_accuracy:  0.761
epoch:  49 loss:  0.454 accuracy:  0.763 test_loss:  0.45 test_accuracy:  0.773
epoch:  50 loss:  0.449 accuracy:  0.767 test_loss:  0.447 test_accuracy:  0.772
epoch:  51 loss:  0.448 accuracy:  0.766 test_loss:  0.446 test_accuracy:  0.772
epoch:  52 loss:  0.448 accuracy:  0.767 test_loss:  0.445 test_accuracy:  0.773
epoch:  53 loss:  0.448 accuracy:  0.764 test_loss:  0.446 test_accuracy:  0.767
epoch:  54 loss:  0.447 accuracy:  0.765 test_loss:  0.445 test_accuracy:  0.767
epoch:  55 loss:  0.446 accuracy:  0.766 test_loss:  0.443 test_accuracy:  0.771
epoch:  56 loss:  0.447 accuracy:  0.764 test_loss:  0.445 test_accuracy:  0.767
epoch:  57 loss:  0.452 accuracy:  0.76 test_loss:  0.45 test_accuracy:  0.761
epoch:  58 loss:  0.455 accuracy:  0.769 test_loss:  0.451 test_accuracy:  0.776
epoch:  59 loss:  0.444 accuracy:  0.765 test_loss:  0.441 test_accuracy:  0.775
epoch:  60 loss:  0.445 accuracy:  0.764 test_loss:  0.442 test_accuracy:  0.777
epoch:  61 loss:  0.442 accuracy:  0.769 test_loss:  0.439 test_accuracy:  0.778
epoch:  62 loss:  0.442 accuracy:  0.766 test_loss:  0.439 test_accuracy:  0.778
epoch:  63 loss:  0.442 accuracy:  0.767 test_loss:  0.441 test_accuracy:  0.775
epoch:  64 loss:  0.441 accuracy:  0.766 test_loss:  0.439 test_accuracy:  0.779
epoch:  65 loss:  0.44 accuracy:  0.768 test_loss:  0.438 test_accuracy:  0.778
epoch:  66 loss:  0.445 accuracy:  0.765 test_loss:  0.442 test_accuracy:  0.775
epoch:  67 loss:  0.441 accuracy:  0.768 test_loss:  0.439 test_accuracy:  0.779
epoch:  68 loss:  0.441 accuracy:  0.769 test_loss:  0.44 test_accuracy:  0.777
epoch:  69 loss:  0.439 accuracy:  0.767 test_loss:  0.437 test_accuracy:  0.778
epoch:  70 loss:  0.442 accuracy:  0.769 test_loss:  0.441 test_accuracy:  0.774
epoch:  71 loss:  0.441 accuracy:  0.766 test_loss:  0.438 test_accuracy:  0.779
epoch:  72 loss:  0.448 accuracy:  0.768 test_loss:  0.447 test_accuracy:  0.771
epoch:  73 loss:  0.437 accuracy:  0.769 test_loss:  0.435 test_accuracy:  0.78
epoch:  74 loss:  0.438 accuracy:  0.769 test_loss:  0.436 test_accuracy:  0.78
epoch:  75 loss:  0.438 accuracy:  0.769 test_loss:  0.437 test_accuracy:  0.78
epoch:  76 loss:  0.445 accuracy:  0.769 test_loss:  0.445 test_accuracy:  0.771
epoch:  77 loss:  0.436 accuracy:  0.77 test_loss:  0.435 test_accuracy:  0.779
epoch:  78 loss:  0.436 accuracy:  0.769 test_loss:  0.434 test_accuracy:  0.781
epoch:  79 loss:  0.437 accuracy:  0.77 test_loss:  0.436 test_accuracy:  0.781
epoch:  80 loss:  0.459 accuracy:  0.763 test_loss:  0.46 test_accuracy:  0.765
epoch:  81 loss:  0.436 accuracy:  0.771 test_loss:  0.434 test_accuracy:  0.781
epoch:  82 loss:  0.437 accuracy:  0.77 test_loss:  0.436 test_accuracy:  0.781
epoch:  83 loss:  0.437 accuracy:  0.77 test_loss:  0.436 test_accuracy:  0.781
epoch:  84 loss:  0.436 accuracy:  0.771 test_loss:  0.435 test_accuracy:  0.781
epoch:  85 loss:  0.438 accuracy:  0.768 test_loss:  0.435 test_accuracy:  0.781
epoch:  86 loss:  0.436 accuracy:  0.767 test_loss:  0.434 test_accuracy:  0.781
epoch:  87 loss:  0.434 accuracy:  0.77 test_loss:  0.433 test_accuracy:  0.782
epoch:  88 loss:  0.434 accuracy:  0.769 test_loss:  0.433 test_accuracy:  0.782
epoch:  89 loss:  0.437 accuracy:  0.77 test_loss:  0.435 test_accuracy:  0.78
epoch:  90 loss:  0.439 accuracy:  0.772 test_loss:  0.436 test_accuracy:  0.782
epoch:  91 loss:  0.435 accuracy:  0.769 test_loss:  0.433 test_accuracy:  0.782
epoch:  92 loss:  0.434 accuracy:  0.77 test_loss:  0.433 test_accuracy:  0.783
epoch:  93 loss:  0.435 accuracy:  0.771 test_loss:  0.434 test_accuracy:  0.782
epoch:  94 loss:  0.434 accuracy:  0.771 test_loss:  0.433 test_accuracy:  0.781
epoch:  95 loss:  0.434 accuracy:  0.769 test_loss:  0.432 test_accuracy:  0.782
epoch:  96 loss:  0.435 accuracy:  0.771 test_loss:  0.433 test_accuracy:  0.781
epoch:  97 loss:  0.442 accuracy:  0.771 test_loss:  0.442 test_accuracy:  0.778
epoch:  98 loss:  0.433 accuracy:  0.77 test_loss:  0.432 test_accuracy:  0.782
epoch:  99 loss:  0.433 accuracy:  0.77 test_loss:  0.432 test_accuracy:  0.783